<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Text.Json" version="4.6.0" targetFramework="netstandard2.0" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="netstandard2.0" />
  <package id="OpenTelemetry" version="1.2.0-rc3" targetFramework="netstandard2.0" />
  <package id="OpenTelemetry.Api" version="1.2.0-rc3" targetFramework="netstandard2.0" />
  <package id="OpenTelemetry.Exporter.Console" version="1.2.0-rc3" targetFramework="netstandard2.0" />
  <package id="OpenTelemetry.Exporter.OpenTelemetryProtocol" version="1.2.0-rc3" targetFramework="netstandard2.0" />
  <package id="Google.Protobuf" version="3.15.5.0" targetFramework="netstandard2.0" />
  <package id="Grpc.Core" version="2.43.0" targetFramework="netstandard2.0" />
  <package id="Grpc.Core.Api" version="2.43.0" targetFramework="netstandard2.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="netstandard2.0" />
  <package id="Azure.Monitor.OpenTelemetry.Exporter" version="1.0.0-beta.3" targetFramework="netstandard2.0" />
  <package id="Azure.Core" version="1.20.0" targetFramework="netstandard2.0" />
</packages>
